extends layout

block content
    h1= title
  
    // Wrapper
    #wrapper

        // ADD OBJECT
        h2 Add Object
        #addObject
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputCategories(type='text', placeholder='category1,category2,...')
                input#inputTags(type='text', placeholder='tag1,tag2, ...')
                br
                input#inputRelated(type='text', placeholder='relatedID1,relatedID2,...')
                br
                button#btnAddObject Add Object
        // /ADD OBJECT

        // SAVE POSITION
        h2 Save Position
        #savePosition
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputPosition(type='text', value='{"location": {"type":"Point", "coordinates":[2.168, 41.387]}, "time":1402407865, "accuracy":0.93, "speed":2.11, "altitude":100.14, "bearing":120.24}', placeholder='{"location": {"type":"Point", "coordinates":[2.168, 41.387]}, "time":1402407865, "accuracy":0.93, "speed":2.11, "altitude":100.14, "bearing":120.24}', size=43)
                br
                button#btnSavePosition Save Position
        // /SAVE POSITION

        // LAST POSITION
        h2 Last Position
        #lastPosition
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                button#btnLastPosition Last Position
                br
                strong Response:
                |  <span id='lastPositionResponse'></span>

        // /LAST POSITION

        // NEARBY OBJECTS
        h2 Nearby Objects
        #nearbyObjects
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputLocation(type='text', value='{"type":"Point", "coordinates":["2.168", "41.387"]}', placeholder='{"type":"Point", "coordinates":["2.168", "41.387"]}')
                input#inputDistance(type='text', placeholder='distance')
                br
                input#inputOffset(type='text', placeholder='offset')
                br
                button#btnNearbyObjects Nearby Objects
                br
                strong Response:
                |  <span id='nearbyObjectsResponse'></span>
        // /NEARBY OBJECTS

        // OBJECT PATH
        h2 Object Path
        #objectPath
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputStart(type='text', placeholder='start')
                input#inputEnd(type='text', placeholder='end')
                br
                button#btnObjectPath Object Path
                br
                strong Response:
                |  <span id='objectPathResponse'></span>
        // /OBJECT PATH


    // /WRAPPER
