html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-size: 26px; 
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
}

h2 {
	font-weight: 100;
}

h3 {
	margin: 5px;
	font-weight: 100;
}

#queryDiv {
	float:left; 
	height:80%; 
	width:20%; 
	max-width:20%; 
	display:inline-block; 
	margin:0px;

} 

input, button {
	font-size: 16px;
	font-family:"Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
}

#map-canvas-sidebar{
	height: 100%; 
	width: 80%;
	float:right;
}
#map-canvas-container{
	height: 100%; 
	width: 100%;
	margin-top:0px;
}
#map-canvas { 
	height: 100%; 
	width: 100%;
	margin-top:0px;
}

.drawingList{
	margin: 15px auto 0;
    padding: 0;
}

a,
a:link {
    outline: none;
}

ul li {
    list-style-type: none;
    font-size: 18px;
    background-color: #efefef;
    margin-bottom: 5px;
    padding: 1px;
    text-align: left;
}
ul li span {
    cursor: text;
}
ul li a,
ul li a:link {
    float: right;
    display: none;
    text-decoration: none;
    color: #f03;
    padding-right: 3%; 
}
ul li:hover{
	background-color: #dfdfdf;
}
ul li a:hover {
    text-decoration: underline;
}

.submitButton {
	background-color:#efefef;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	text-decoration:none;
	text-align:center;
}.submitButton:hover {
	background-color:#dfdfdf;
}.submitButton:active {
	position:relative;
	top:1px;
}
.drawing-checkbox{
	position:relative;
}