extends layout

block content
    h1= title
  
    // Wrapper
    #wrapper

        // ADD OBJECT
        h2 Add Object
        #addObject
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputCategories(type='text', placeholder='category1,category2,...')
                input#inputTags(type='text', placeholder='tag1,tag2,...')
                br
                input#inputRelated(type='text', placeholder='relatedID1,relatedID2,...')
                br
                button#btnAddObject Add Object
                br
                strong Response:
                |  <span id='addObjectResponse'></span>
        // /ADD OBJECT

        // ADD FIELDS
        h2 Add Fields
        #addFields
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomIDs(type='text', placeholder='customID1,customID2,...')
                br
                input#inputCategories(type='text', placeholder='category1,category2,...')
                input#inputTags(type='text', placeholder='tag1,tag2,...')
                br
                input#inputRelated(type='text', placeholder='relatedID1,relatedID2,...')
                br
                button#btnAddFields Add Fields
                br
                strong Response:
                |  <span id='addFieldsResponse'></span>
        // /ADD FIELDS

        // DELETE FIELDS
        h2 Delete Fields
        #deleteFields
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomIDs(type='text', placeholder='customID1,customID2,...')
                br
                input#inputCategories(type='text', placeholder='category1,category2,...')
                input#inputTags(type='text', placeholder='tag1,tag2,...')
                br
                input#inputRelated(type='text', placeholder='relatedID1,relatedID2,...')
                br
                button#btnDeleteFields Delete Fields
                br
                strong Response:
                |  <span id='deleteFieldsResponse'></span>
        // /DELETE FIELDS

        // SAVE POSITION
        h2 Save Position
        #savePosition
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputPosition(type='text', value='{"location": {"type":"Point", "coordinates":[2.168, 41.387]}, "time":1402407865, "accuracy":0.93, "speed":2.11, "altitude":100.14, "bearing":120.24}', placeholder='{"location": {"type":"Point", "coordinates":[2.168, 41.387]}, "time":1402407865, "accuracy":0.93, "speed":2.11, "altitude":100.14, "bearing":120.24}', size=43)
                br
                button#btnSavePosition Save Position
                br
                strong Response:
                |  <span id='savePositionResponse'></span>
        // /SAVE POSITION

        // LAST POSITION
        h2 Last Position
        #lastPosition
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                button#btnLastPosition Last Position
                br
                strong Response:
                |  <span id='lastPositionResponse'></span>

        // /LAST POSITION

        // NEARBY OBJECTS
        h2 Nearby Objects
        #nearbyObjects
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputLocation(type='text', value='{"type":"Point", "coordinates":["2.168", "41.387"]}', placeholder='{"type":"Point", "coordinates":["2.168", "41.387"]}')
                input#inputDistance(type='text', placeholder='distance')
                br
                input#inputOffset(type='text', placeholder='offset')
                input#inputCategories(type='text', placeholder='category1,category2,...')
                br
                input#inputTags(type='text', placeholder='tag1,tag2,...')
                input#inputRelated(type='text', placeholder='relatedID1,relatedID2,...')
                br
                button#btnNearbyObjects Nearby Objects
                br
                strong Response:
                |  <span id='nearbyObjectsResponse'></span>
        // /NEARBY OBJECTS

        // OBJECT PATH
        h2 Object Path
        #objectPath
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputCustomID(type='text', placeholder='customID')
                br
                input#inputStart(type='text', placeholder='start')
                input#inputEnd(type='text', placeholder='end')
                br
                button#btnObjectPath Object Path
                br
                strong Response:
                |  <span id='objectPathResponse'></span>
        // /OBJECT PATH

        // ADD GEOFENCE
        h2 Add Geofence
        #addGeofence
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputGeofenceID(type='text', placeholder='geofenceID')
                br
                input#inputLng(type='text', placeholder='longitude')
                input#inputLat(type='text', placeholder='latitude')
                br
                input#inputDistance(type='text', placeholder='distance (km)')
                br
                button#btnAddGeofence Add Geofence
                br
                strong Response:
                |  <span id='addGeofenceResponse'></span>
        // /ADD GEOFENCE

        // LIST GEOFENCES
        h2 List Geofences
        #listGeofences
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                br
                button#btnListGeofences List Geofences
                br
                strong Response:
                |  <span id='listGeofencesResponse'></span>

        // /LIST GEOFENCES

        // DELETE GEOFENCE
        h2 Delete Geofences
        #deleteGeofence
            fieldset
                input#inputClientID(type='text', placeholder='clientID')
                input#inputGeofenceID(type='text', placeholder='geofenceID')
                br
                button#btnDeleteGeofence Delete Geofence
                br
                strong Response:
                |  <span id='deleteGeofenceResponse'></span>

        // /LIST GEOFENCES

    // /WRAPPER
