// Layout for GeoLocalization API GUI Mapper
// TechIdeas
// Justin Martinez

doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/positionmap.css')
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js')
        
        // Justin's Google Maps API key
        // Replace with TechIDEA's API key
        script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAM3Is1kM34kJf9pkKCRMhWw731bqlBKB0')
        
        script(type='text/javascript', src='/javascripts/positionmap.js')
    body
        h2(align='center') Object Path and Geofence Mapper
        #queryDiv
            
            #clientSecret
                fieldset
                    input#inputClientSecret(type='text', placeholder='clientSecret')
            // OBJECT PATH
            h3(align='center') Object Path
            #objectPath
                fieldset
                    input#inputClientID(type='text', placeholder='clientID')
                    input#inputCustomID(type='text', placeholder='customID')
                    br
                    input#inputStart(type='text', placeholder='start')
                    input#inputEnd(type='text', placeholder='end')
                    br
                    button#btnObjectPath(class='submitButton') Plot Object Path
                    ul#objectList(class='drawingList')

            // /OBJECT PATH
            // GET OBJECTS
            h3(align='center') Get Objects
            #getObjects
                fieldset
                    input#inputClientID(type='text', placeholder='clientID')
                    input#inputCustomID(type='text', placeholder='customID')
                    br
                    br
                    strong Near:
                    br
                    input#inputLocation(type='text', value='{"type":"Point", "coordinates":["2.168", "41.387"]}', placeholder='{"type":"Point", "coordinates":["2.168", "41.387"]}')
                    input#inputDistance(type='text', placeholder='distance')
                    br
                    input#inputOffset(type='text', placeholder='offset')
                    br
                    br
                    strong Matching:
                    br
                    input#inputCategories(type='text', placeholder='category1,category2,...')
                    input#inputTags(type='text', placeholder='tag1,tag2,...')
                    br
                    input#inputRelated(type='text', placeholder='relatedID1,relatedID2,...')
                    br
                    button#btnGetObjects(class='submitButton') Get Objects
                    ul#getObjectList(class='drawingList')
            // /GET OBJECTS
            // LIST GEOFENCES
            h3(align='center') Geofences
            #listGeofences
                fieldset
                    input#inputClientID(type='text', placeholder='clientID')
                    br
                    button#btnListGeofences(class='submitButton') Plot Geofences
                    ul#geofenceList(class='drawingList')

        // /LIST GEOFENCES
        #map-canvas-sidebar
            #map-canvas-anchor
            #map-canvas-container
                #map-canvas
